{{ define "main" }}

<h1>About Us</h1>

<p>
DoCyber is a Singapore Cybersecurity Service Delivery Specialist.
</p>
<br/>

<h1>Technologies We Do</h1>

<div class="posts-list">

        <div class="post">
            <p>
                <div>SIEM</div>
                <p>IBM QRadar, LogRhythm, Splunk, SolarWinds SEM.</p>
            </p>
        </div>    

        <div class="post">
            <p>
                <div>DAM</div>
                <p>IBM Guardium.</p>
            </p>
        </div> 

        <div class="post">
            <p>
                <div>IT & IoT & ICS Monitoring</div>
                <p>GreyCortex, Azure Defender for IoT, CyberX.</p>
            </p>
        </div> 

        <div class="post">
            <p>
                <div>Data Diode</div>
                <p>Waterfall.</p>
            </p>
        </div> 

        <div class="post">
            <p>
                <div>DLP</div>
                <p>McAfee DLP, ForcePoint DLP.</p>
            </p>
        </div>

        <div class="post">
            <p>
                <div>Firewall</div>
                <p>Cisco, Fortinet, Sophos, Palo Alto, Check Point, Hirschmann.</p>
            </p>
        </div> 

</div>

{{ end }}